<?xml version="1.0"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" 
    backupGlobals="false" 
    beStrictAboutCoversAnnotation="true" 
    beStrictAboutOutputDuringTests="true" 
    beStrictAboutTestsThatDoNotTestAnything="true" 
    beStrictAboutTodoAnnotatedTests="true" 
    verbose="true" 
    colors="true" 
    stopOnFailure="false" 
    processIsolation="false" 
    bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Test Unit">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
